<aside class="col-md-3">
    
    <div class="hl"></div>

    <% for(let i = 0; i < tilbud.length; i++){ %>
        <div id="tilbud_div">
            <h3><%= tilbud[i].navn %></h3>
            <img id="tilbud_img" src="/images/Cykler/<%= tilbud[i].billede%>" alt="">
            <p class="tilbud_p" id="tilbud_pris">Før <%= tilbud[i].pris %> kr. </p>
            <p class="tilbud_p" id="tilbudspris">Nu kun <%= tilbud[i].tilbudspris %> kr.</p>
        </div>
        <%}%>
</aside>