<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head_partials.ejs %>
</head>

<body>
    <div id="wrapper" class="container">
        <header>

            <% include ../partials/admin_nav_partials.ejs %>
        </header>

        <main>

            <h1 class="admin_h1" >Velkommen til Adminpanelet</h1>

            <p>Brug menuen til komme videre</p>

        </main>
        <footer>
            <% include  %>
        </footer>
    </div>
</body>


</html>