<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head_partials.ejs %>
</head>

<body>
    <div id="wrapper" class="container">
        <header>
            
            <% include ../partials/navigation_partials.ejs %>
        </header>

        <main>

            <h1 class="col-md-9">Cykler</h1>
            <h2 class="col-md-3">Tilbud</h2>
            <% include ../partials/main_content.ejs %>
            <% include ../partials/tilbud_aside.ejs %>

        </main>
        <footer>

        </footer>
    </div>
</body>
<% include ../partials/after_footer_partials.ejs %>

</html>