<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head_partials.ejs %>
</head>

<body>
    <div id="wrapper" class="container">
        <header>
                
            <% include ../partials/navigation_partials.ejs %>
        </header>

        <main>

            <h1 class="col-md-9">Forside</h1>
            <h2 class="col-md-3">Tilbud</h2>
            <article class="col-md-9">
                <% include ../partials/main_content_hl.ejs %>
            </article>
            <% include ../partials/tilbud_aside.ejs %>

        </main>
        <footer>
            <% include ../partials/footer_partials.ejs %>
        </footer>
    </div>
</body>


</html>